 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
 </head>
 <body>
     <input type="text" name="palavra" id="palavra"/>
     <button id="buttonSendName">Enviar</button>
     <p id="resultado"></p>
 </body>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
 <script>
    var socket = io("http://localhost:3000")
    const buttonSend = document.querySelector("#buttonSendName")
    buttonSend.addEventListener('click',()=>{
        inputName = document.querySelector("#palavra")
        socket.emit("HelloWorld",{nome: inputName.value})
    })
    socket.on("resultado",data=>{
        const resultado = document.querySelector("#resultado")
        console.log(data)
        resultado.innerHTML = data
    })
    
 </script>
 </html>